body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* nên sử dụng đơn vị em trên media query */
/*PC*/
@media (min-width:1360px) and (max-width:1650px) {
    .slider-item {
        padding-top: 102px;

    }

    .nenmodal .nenmodal2 {
        position: fixed;
        margin-top: -204px;
    }

    .container {
        position: relative;
        width: 100%;
        padding: 80px 160px;

    }

    .nenmodal .ndmodal {
        position: absolute;
        margin-top: 200px;
        width: 600px;
        padding: 20px;
    }

    .buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
        top: 23%;

    }

    .watch-now,
    .watch-later {

        padding: 10px;
        cursor: pointer;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        height: 76px;

        margin: 0 20px;
    }

    .container {
        position: relative;
        width: 100%;
        padding: 80px 160px;
    }

    .slider-control {
        position: absolute;
        z-index: 10;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }


    .content-slider {
        display: flex;
        text-align: center;
        padding-top: 0;
    }

    .text-content {
        width: 100%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 2;
        margin: 0;
        padding: 0 180px;

    }

    .dot {
        width: 15px;
        height: 15px;
    }

    .item-release .img-release,
    .item-trending .trending-img,
    .item-recommend .recommend-img,
    .img-overlay {
        position: relative;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;

    }

    .movie-card {
        min-width: 28%;
        padding-right: 20px;
    }

    .movie-card img {
        width: 50px;
        height: 78px;
    }


    .item-trending {
        flex-basis: 33%;
    }


    .item-release,
    .item-recommend {
        flex-basis: 25%;
        justify-content: center;

    }

    .release-content,
    .recommend-content {
        justify-content: space-between;
    }

    .trending-content {
        justify-content: space-between;
    }

}


/* Tablet & mobile */
@media (max-width:1360px) {

    .slider,
    .slider-item {
        width: 100%;

    }

    .slider-item {
        padding-top: 60px;

    }

    .slider-item img {
        width: 100%;
    }

    .navbar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 60px;
    }

    .nav-overlay {
        height: 60px;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .search-container {
        width: 50%;
        height: 36px;
    }

    .container {
        position: relative;
        width: 100%;
        padding: 40px 80px;
    }

    .navbar>ul {
        position: absolute;
        left: 14%;
        top: 60px;
        flex-wrap: wrap;

        position: fixed;
        width: 10%;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 1000;
        background-color: #000;

    }

    .smail {
        display: block;
    }

    .nav-menu>li {
        background-color: #000;
        flex-wrap: wrap;
        display: block;
        flex-direction: column;
        padding: 5px;
        border-bottom: 1px solid #262121;
    }

    .nav-menu>li a {
        width: 100%;
        font-size: 12px;
    }

    .register a,
    #search-input {
        font-size: 10px;
    }

    .hamburger {
        position: relative;
        display: block;
        float: right;
        padding: 0 21px;
    }



    .slider-scoll {
        top: 90%;
        z-index: 2;
    }

    .dot {
        width: 15px;
        height: 15px;
    }

    /* slider item */
    .slider {
        position: relative;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider-item {
        position: relative;
        color: #fff;
        width: 100%;
    }

    .slider-item img {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .slider-control {
        position: absolute;
        z-index: 10;
        top: 16%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .watch-now,
    .watch-later {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        height: 50px;
        margin: 0 10px;
        padding: 10px;
    }

    .buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
        top: 11%;

    }

    .buttons img {
        width: 15px;
        height: 15px;
    }


    .text-description {
        font-size: 12px;
    }

    .text-content {
        width: 100%;
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: left;
        z-index: 2;
        padding: 0 100px;
        margin: 0;

    }

    .text-heading p {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
    }

    .btn-tags .tag {
        padding: 2px 6px;
        border-radius: 20px;


    }

    .btn-tags .tag,
    .icon-tag {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }

    .nav-overlay {
        top: 0;
    }

    span {
        height: 30px;
    }

    .content-slider {
        margin-top: 4px;
    }

    .text-description {
        margin-top: 6px;
    }

    .text-description p {
        width: 70%;
    }

    .nenmodal .nenmodal2 {
        position: fixed;
        margin-top: -102px;
        /* display: none; */
    }

    .blur {
        background: rgba(0, 0, 0, 1);
        filter: blur(1px);

    }

    .nenmodal .ndmodal {
        position: absolute;
        margin-top: 60px;
        width: 400px;
        padding: 20px;
    }

    .nenmodal .closemodal {
        text-align: center;
        margin-bottom: 10px;
    }

    iframe {
        width: 360px;
        height: 150px;
    }

    .titlemodal {
        font-size: 16px;
    }

    .content-btn .trend {
        height: 24px;
        padding: 4px 8px;
        font-size: 12px;
    }

    .closemodal button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

/*Tablet*/
@media (min-width:701px)and (max-width: 1700px) {
    .search-container {
        padding: 5px;
    }

    .new-release,
    .trending-container,
    .recommend-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .header-release,
    .header-recommend,
    .header-trending {
        margin-bottom: 20px;
    }

    .release-content,
    .recommend-content,
    .trending-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

    }

    .item-release,
    .item-recommend {
        flex-grow: 0;
        flex-shrink: 1;
        transition: transform 0.3s ease-in-out;
        flex-basis: 23%;
        justify-content: space-between;


    }

    .item-trending {
        flex-grow: 0;
        flex-shrink: 1;
        transition: transform 0.3s ease-in-out;
        flex-basis: 32%;
    }

    .item-release:hover,
    .item-recommend:hover,
    .item-trending:hover {
        transform: scale(1.05);
    }

    .item-release .img-release,
    .item-trending.trending-img,
    .item-recommend .recommend-img {
        position: relative;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;
        /* height: auto; */

    }

    .img-overlay {
        position: absolute;
        display: block;

    }

    .nenmodal .ndmodal {
        position: absolute;
        padding: 20px;
    }


}

/* recently */
/* Trending */
/* New release-movie */

@media (min-width: 850px) and (max-width: 1360px) {
    .movie-card {
        min-width: 28%;
        padding-right: 20px;
    }

    .movie-card img {
        width: 50px;
        height: 78px;
    }

    .item-release,
    .item-recommend {
        flex-basis: 30.5%;
        justify-content: center;

    }

    .item-trending {
        flex-basis: 48%;
    }

    .nenmodal .ndmodal {
        position: absolute;
        margin-top: 100px;
        width: 400px;
        padding: 20px;
    }
    
    .nenmodal .nenmodal2 {
        position: fixed;
        margin-top: -160px;
    }

    @media (min-width: 1045px) and (max-width: 1360px) {

        .item-release,
        .item-recommend {
            flex-basis: 22%;
            justify-content: center;

        }

        .item-trending {
            flex-basis: 31%;
        }

        .slider-control {
            position: absolute;
            z-index: 10;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .watch-now,
        .watch-later {
            font-size: 24px;
            font-weight: 600;
            line-height: 16px;
            height: 70px;
            margin: 0 10px;
            padding: 10px;
        }

        .buttons img {
            width: 30px;
            height: 30px;
        }

        .text-description {
            font-size: 14px;
        }



        .text-heading p {
            font-family: Poppins;
            font-size: 30px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 20px;
        }

        .btn-tags .tag,
        .icon-tag {
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
        }

    }


    .release-content {
        justify-content: space-between;
    }

    .recommend-content {
        justify-content: space-around;
    }

    .trending-content {
        justify-content: space-between;
    }

    .item-release .img-release,
    .item-trending .trending-img,
    .item-recommend .recommend-img {
        position: relative;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;

    }

    @media (min-width: 850px) and (max-width:950px) {
        .navbar>ul {
            left: 12%;
            width: 12%;

        }

        .slider-control {
            position: absolute;
            z-index: 10;
            top: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .watch-now,
        .watch-later {
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            height: 50px;
            margin: 0 10px;
            padding: 10px;
        }

        .buttons {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            z-index: 1000;
            top: 13%;

        }

        .buttons img {
            width: 15px;
            height: 15px;
        }

        .text-content {
            width: 100%;
            position: absolute;
            top: 78%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: left;
            z-index: 2;
            padding: 0 100px;
            margin: 0;

        }
    }

}

@media (min-width: 700px) and (max-width:850px) {
    .nenmodal .ndmodal {
        position: absolute;
        margin-top: 120px;
        width: 400px;
        padding: 20px;
    }

    .navbar>ul {
        left: 9%;
        width: 14%;

    }

    .slider-control {
        position: absolute;
        z-index: 10;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .watch-now,
    .watch-later {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        height: 40px;
        margin: 0 10px;
        padding: 10px;
    }

    .buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1000;
        top: 11%;

    }

    .buttons img {
        width: 15px;
        height: 15px;
    }

    .text-content {
        width: 100%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: left;
        z-index: 2;
        padding: 0 100px;
        margin: 0;

    }


    .item-release,
    .item-recommend,
    .item-trending {
        flex-basis: 48%;
    }

    .release-content,
    .recommend-content,
    .trending-content {
        justify-content: space-between;

    }

    .item-release .img-release,
    .item-trending.trending-img,
    .item-recommend .recommend-img {
        position: relative;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;

    }

    .header-recommend .tag-trend {
        display: none;
    }

    .movie-card {
        min-width: 41%;
        padding-right: 40px;
    }

    .movie-card img {
        width: 40px;
        height: 62px;
    }

    .text-description {
        margin-top: 0;
        overflow: hidden;
    }

    .text-description p {
        width: 70%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }


}

/*Mobile*/

@media (max-width:700px) {
    .hamburger {
        font-size: 24px;
    }

    .navbar>ul {
        left: 4%;
        width: 20%;
        font-size: 10px;

    }

    .container {
        position: relative;
        width: 100%;
        padding: 20px 40px;
    }

    .slider {
        position: relative;
    }

    .slider img {
        width: 100vw;
        z-index: 2;

    }

    #search-input {
        padding: 5px;
        font-size: 10px;
    }

    .search-container {
        padding: 5px;
        width: 100%;
    }

    #search-button {
        border-radius: 50%;
        padding: 4px;

    }

    .slider-scoll {
        top: 85%;
        z-index: 2;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .dot.active {
        width: 40px;
        height: 10px;
    }

    .slider-control {
        top: 11.5%;
    }

    .watch-now,
    .watch-later {
        font-size: 14px;
        font-weight: 500;
        line-height: 12px;
        height: 40px;
        margin: 0 5px;
        padding: 5px;
    }

    .buttons {
        top: 11%;
    }

    .buttons img {
        width: 15px;
        height: 15px;
    }

    .text-description {
        font-size: 10px;
    }

    .text-content {
        width: 100%;
        overflow: hidden;
        position: absolute;
        text-align: left;
        top: 70%;
        padding: 0 60px;
        margin: 0;
        height: auto;

    }

    .text-heading p {
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 12px;
    }

    .btn-tags .tag {
        padding: 2px 6px;
        border-radius: 20px;
        height: 30px;
    }

    .btn-tags .tag,
    .icon-tag {
        font-size: 10px;
        font-weight: 500;
        width: 100%;
        white-space: nowrap;
        margin: 2px;
    }

    .icon-tag {
        padding: 0 5px;
    }

    .tags-icon {
        padding: 5px 4px;
        margin-bottom: 5px;
    }

    span {
        height: 24px;
        width: auto;
        margin-bottom: 0;
    }

    .content-slider {
        margin-top: 4px;
    }

    .text-description {
        margin-top: 0;
        overflow: hidden;
    }

    .text-description p {
        width: 70%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .nenmodal .ndmodal {
        position: absolute;
        margin-top: 100px;
        width: 400px;
        padding: 20px;
    }

    .nenmodal .closemodal {
        text-align: center;
        padding-top: 10px;
    }

    .nenmodal .nenmodal2 {
        position: fixed;
        margin-top: -70px;
    }

    iframe {
        width: 360px;
        height: 100px;
    }

    .titlemodal {
        font-size: 12px;
    }

    .content-btn .trend {
        height: 20px;
        padding: 4px 8px;
        font-size: 10px;
    }

    .closemodal button {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .item-content {
        height: 40px;
    }

    .item-content p {
        padding-top: 4px;
        font-size: 16px;
        font-weight: 500;
        height: 36px;


    }

    .tag-trend {
        border-radius: 10px;
        padding: 4px;
        font-size: 12px;
        font-weight: 400;
        height: 30px;
    }
    .trending-content .tag-trend{
       margin-left: 6px; 
    }

    .tagg {
        margin-left: 8px;
        display: flex;
        align-items: center;
        text-align: center;
    }




    .release-content,
    .recommend-content,
    .trending-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

    }

    .movie-card {
        min-width: 43%;
        padding-right: 10px;

    }

    .movie-card img {
        width: 50px;
        height: 70px;
    }

    .movie-card p {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-align: left;
        width: 70%;
    }

    .slide-btn img {
        width: 50px !important;
        height: 50px !important;
    }

    .slide-btn .icon-left,
    .slide-btn .icon-right {
        width: 30px !important;
        height: 30px !important;
    }

    .trending-container,
    .new-release {
        margin: 0;
    }

    .item-release,
    .item-recommend,
    .item-trending {
        flex-basis: 47%;
    }

    .release-content,
    .recommend-content,
    .trending-content {
        justify-content: space-between;

    }


    .item-release:hover,
    .item-recommend:hover,
    .item-trending:hover {
        transform: scale(1.05);
    }


    .item-release .img-release,
    .item-trending .trending-img,
    .item-recommend .recommend-img {
        position: relative;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        display: block;

    }

    .header-trending,
    .header-release,
    .header-recommend {
        display: flex;
        align-items: center;
    }

    .header-recommend .tag-trend {
        display: none;
    }

    .recently-container h2,
    .header-release h2,
    .header-recommend h2,
    .header-trending h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        display: flex;
        align-items: center;
    }

    .header-trending a,
    .header-release a,
    .header-recommend a {
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        justify-content: right;


    }

    .header-trending img,
    .header-release img,
    .header-recommend img {
        width: 12px;
        height: 12px;
    }
    @media (max-width:560px) {
        .item-release,
        .item-recommend,
        .item-trending {
            flex-basis: 70%;
        }
        .release-content,
        .recommend-content,
        .trending-content {
            justify-content: center;
    
        }
    
        .slider-control {
            top: 9%;
        }

        .navbar>ul {
            left: 2%;
            width: 25%;
            font-size: 10px;

        }

        .tags-icon {
            display: none;
        }

        .btn-tags {
            display: none;
        }
        .nenmodal .ndmodal {
            position: absolute;
            margin-top: 100px;
            width: 300px;
            padding: 20px;
        }
    
        iframe {
            width: 260px;
            height: 100px;
        }

    
    }

    @media (max-width:400px) {
        .item-release,
        .item-recommend,
        .item-trending {
            flex-basis: 80%;
        }
        .release-content,
        .recommend-content,
        .trending-content {
            justify-content: center;
    
        }
        .slider-control {
            top: 11%;
        }
        .watch-now,
        .watch-later {
            font-size: 10px;
            font-weight: 500;
            line-height: 10px;
            height: 36px;
        }

        .movie-card {
            min-width: 43%;
            padding-right: 10px;

        }

        .movie-card img {
            width: 35px;
            height: 50px;
        }

        .movie-card p {
            font-size: 10px;
            font-weight: 400;
            line-height: 12px;
            text-align: left;
            width: 70%;
            padding-left: 12px;
        }

        .slide-btn img {
            width: 50px !important;
            height: 50px !important;
        }

        .slide-btn .icon-left,
        .slide-btn .icon-right {
            width: 30px !important;
            height: 30px !important;
        }
        .nenmodal .ndmodal {
            position: absolute;
            margin-top: 90px;
            width: 220px;
            padding: 10px;
        }

        iframe {
            width: 200px;
            height: 90px;
        }
    }

}
